# frontend directories
frontend/node_modules
frontend/src/components/canvas_exp_2.jsx
frontend/src/components/canvas_exp.jsx
frontend/src/components/CanvasBorder.jsx
frontend/src/components/c_exp.jsx

.env
# backend directories
backend/node_modules
backend/.env
backend/data
backend/redis_data

# backend build directory
backend/dist

# Editor configurations and files
.vscode
.idea
.zed
.DS_Store
