
  
  .login-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
  
    background-size: cover;
  }
  
  
  .auth-container {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background: rgba(0, 0, 0, 0.5); Semi-transparent background
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
  }
  
  .input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
  }
  
  .input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
  }
  
  .input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.9rem;
  top: 10px;
  transform: translateY(-120%);
}
  
  .forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #fff;
  }
  
  #remember {
    accent-color: #fff;
  }
  
  .forget label {
    display: flex;
    align-items: center;
  }
  
  .forget label p {
    margin-left: 8px;
  }
  
  .auth-container a {
    color: #efefef;
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  
  button {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
  }
  
  button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
  }
  
  .register a{
    text-align: center;
    margin-top: 32px;
    color: blue;
  }
  .message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }